#sunfw_section_header {
  background-color: #37a0bc;
}
#sunfw_section_content-top {
  background-color: #fff;
}
#sunfw_section_content-top-full {
  background-color: #ececec;
}
#sunfw_section_footer {
  background-color: #202020;
  color: #5f728a;
}
#sunfw_section_footer h1, #sunfw_section_footer h2, #sunfw_section_footer h3, #sunfw_section_footer h4, #sunfw_section_footer h5, #sunfw_section_footer h6, #sunfw_section_footer .h1, #sunfw_section_footer .h2, #sunfw_section_footer .h3, #sunfw_section_footer .h4, #sunfw_section_footer .h5, #sunfw_section_footer .h6 {
  color: #fff;
  text-transform: uppercase;
}
#sunfw_section_footer a {
  color: #5f728a;
}
#sunfw_section_footer a:hover {
  color: #37a0bc;
}
#sunfw_section_copyright {
  background-color: #202020;
  color: #5f728a;
  font-size: 12px;
}
#sunfw_section_copyright h1, #sunfw_section_copyright h2, #sunfw_section_copyright h3, #sunfw_section_copyright h4, #sunfw_section_copyright h5, #sunfw_section_copyright h6, #sunfw_section_copyright .h1, #sunfw_section_copyright .h2, #sunfw_section_copyright .h3, #sunfw_section_copyright .h4, #sunfw_section_copyright .h5, #sunfw_section_copyright .h6 {
  color: #394a5c;
  line-height: 1.4;
}
#sunfw_section_copyright h1, #sunfw_section_copyright .h1 {
  font-size: 28px;
}
#sunfw_section_copyright h2, #sunfw_section_copyright .h2 {
  font-size: 23px;
}
#sunfw_section_copyright h3, #sunfw_section_copyright .h3 {
  font-size: 19px;
}
#sunfw_section_copyright h4, #sunfw_section_copyright .h4 {
  font-size: 14px;
}
#sunfw_section_copyright h5, #sunfw_section_copyright .h5 {
  font-size: 11px;
}
#sunfw_section_copyright h6, #sunfw_section_copyright .h6 {
  font-size: 10px;
}
#sunfw_section_copyright a {
  color: #37a0bc;
}
#sunfw_section_copyright a:hover {
  color: #52d9fd;
}
#sunfw_section_content-top-over {
  background-color: custom;
}
